JWT_KID=auth-key-1
COOKIE_DOMAIN=.sophon.xyz
SIWE_DOMAIN=app.sophon.xyz
PRIVATE_KEY="-----BEGIN PRIVATE KEY----- ----END PRIVATE KEY-----\n"
PUBLIC_KEY="-----BEGIN PUBLIC KEY----------END PUBLIC KEY-----\n"
PARTNER_CDN=https://cdn.sophon.xyz/partners/sdk
DYNAMICAUTH_BASE_URL="...your_base_url_here..."
DYNAMICAUTH_ENV_ID="...your_env_id_here..."
DYNAMICAUTH_API_TOKEN="...your_api_token_here..."
CHAIN_ID=