JWT_KID=auth-key-1
COOKIE_DOMAIN=.sophon.xyz
SIWE_DOMAIN=app.sophon.xyz
PRIVATE_KEY="-----BEGIN PRIVATE KEY----- ----END PRIVATE KEY-----\n"
PUBLIC_KEY="-----BEGIN PUBLIC KEY----------END PUBLIC KEY-----\n"
PARTNER_CDN=https://cdn.sophon.xyz/partners/sdk