NEXT_PUBLIC_ACCOUNT_SERVER_URL=http://localhost:3000
USER_EMAIL=
USER_OTP=
USER_WALLET=
USER_TRANSACTION=
TRANSFER_TARGET_WALLET=
NEXT_PUBLIC_TOKEN_ERC20_TOKEN=
TOKEN_ERC20_SYMBOL=
NEXT_PUBLIC_NFT_ADDRESS=
FIRST_BLOCK_HASH=
CONTRACT_UNVERIFIED_ADDRESS=
CONTRACT_VERIFIED_ADDRESS=
